* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--color-primario-medio);
}

:root {
   --color-primario-puro: hsl(0, 0%, 0%);
   --color-primario-medio: hsl(0, 0%, 15%);
   --color-primario-transparente: hsl(0, 0%, 30%);
}

.header {
    color: white;
    background-color: var(--color-primario-puro);
    padding: 1rem;
}
.header-contenido {
    max-width: 75rem;
    margin: auto;
    text-align: center;
}
.header-titulo {
    font-size: 4rem;
    font-style: oblique;
}
.header-descripción {
    font-size: 1.10rem;
    font-style: oblique;
}

.main {
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 1.25rem;
}
.contenedor {
    background-color: var(--color-primario-transparente);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 6rem;
    margin-bottom: 1.25rem;
    border-radius: 4px;
}
.generar-paleta, .btn {
    flex: auto;
    background-color: var(--color-primario-puro);
    color: white;
    padding: 1rem;
    margin: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.generar-paleta:hover, .btn:hover {
    background-color: white;
    color: var(--color-primario-puro);
}
